---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentLayout from '../layouts/ContentLayout.astro';

---

<BaseLayout title="About | Fue Her">
	<ContentLayout header="Hi, I'm Fue.">
		<div class=" *:my-4">
			<p>
				My name is pronounced /fu:/; like 'food' without the 'd'. 
			</p>
			<p>
				Technology has always been a passion of mine but I made a professional transition
				into the field in 2019. Since then, I've been fortunate enough to find myself in
				amazing supportive teams at a start-up and a large corporation.
			</p>
			<p>
				My skills lean frontend, but my focus has always been as a full stack dev building
				reliable, accessible, and performant systems that can scale. I beleive there's always room for
				improvment and something new to learn so you might catch me playing with some new tools and tech
				every now and again.
			</p>
			<p>
				When I'm not coding, you'll probably still find me at the computer playing video games, reading
				the latest web novel I'm following, or watching my favorite
				<a href="https://www.dropout.tv/game-changer" target="_blank" class="group">
					Game Changer.
					<img 
						src="/sam.png" 
						alt=`Sam Reich with caption, "I've been here the whole time"`
						height="100"
						width="108"
						aria-hidden="true"
						class=" opacity-0 -z-10 absolute bottom-0 right-0 transition-opacity duration-1000 group-focus:opacity-100 group-hover:opacity-100 group-hover:z-10 group-focus:z-10 "/>
				</a>
				Away from a screen I spend time with my partner gardening, cooking, or taking in nature on a hike.
			</p>
		</div>
	</ContentLayout>
</BaseLayout>