---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Fue Her">
  <main class="flex pl-20 md:pl-40W">
    <div class="flex flex-col gap-3 pt-40 md:pt-40">
      <h1 class="text-6xl md:text-8xl w-fit bg-clip-text font-black text-transparent bg-gradient-to-b from-[#C63D32] to-[#366CC6]">
        Fue Her
      </h1>
      <h2 class="text-lg md:text-xl">
        Full Stack Engineer
      </h2>
      <p class="text-stone-600 dark:text-stone-300">
        I build things for work and fun.
      </p>
    </div>
  </main>
</BaseLayout>
