---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fue Her">
  <main class="flex pl-20 md:pl-40 h-screen">
    <div class="pt-20 md:pt-60">
      <p class="text-sm md:text-base">Hi, my name is</p>
      <h1 class="text-5xl my-4 md:text-7xl w-fit bg-clip-text font-black text-transparent bg-gradient-to-b from-[#C63D32] to-[#366CC6]">
        Fue Her.
      </h1>
      <p class="text-xl md:text-5xl text-stone-600 dark:text-stone-300">
        I build things for work and fun.
      </p>
    </div>
  </main>
</Layout>
