---
import ProjectCard from '../components/Sidebar/ProjectCard.astro';
import ContentLayout from '../layouts/ContentLayout.astro';

import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Fue Her">
  <ContentLayout header="Projects">
    <section class="mt-20">
      I had stuff here but decided to clean it up
    </section>
  </ContentLayout>

</BaseLayout>