---
import ProjectCard from '../components/Sidebar/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Fue Her">
	<main>
    <h1>Projects</h1>
    <p>Check out some things I make</p>
    <hr/>
    <section class="mt-20">
      <ProjectCard 
        title="TabbyNotes"
        content="A small note taking chrome extension/firefox addon"
      />
      <ProjectCard 
        title="TabbyNotes"
        content="A small note taking chrome extension/firefox addon"
        isSwapped
      />
      <ProjectCard 
        title="TabbyNotes"
        content="A small note taking chrome extension/firefox addon"
      />
      <ProjectCard 
        title="TabbyNotes"
        content="A small note taking chrome extension/firefox addon"
        isSwapped
      />
      <ProjectCard 
        title="TabbyNotes"
        content="A small note taking chrome extension/firefox addon"
      />
    </section>
	</main>
</Layout>