---

---
<svg width="100%" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>fueher.com logo</title>
  <path d="M281 306H331V406C331 433.614 353.386 456 381 456C408.614 456 431 433.614 431 406V106C431 78.3858 408.614 56 381 56C353.386 56 331 78.3858 331 106V206H281C308.614 206 331 228.386 331 256C331 283.614 308.614 306 281 306Z" fill="#366CC6"/>
  <path d="M120.923 57.0158C98.1391 61.6781 81 81.8375 81 106V406C81 433.614 103.386 456 131 456C158.614 456 181 433.614 181 406V306H281C308.614 306 331 283.614 331 256C331 228.386 308.614 206 281 206H181V106C181 78.3858 158.614 56 131 56C127.548 56 124.178 56.3498 120.923 57.0158Z" fill="#74527A"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M181 156H281C308.614 156 331 133.614 331 106C331 78.3858 308.614 56 281 56H131C158.614 56 181 78.3858 181 106V156Z" fill="#C63D32"/>
</svg>