---
import Logo from "./Logo.astro"
---
<div class="flex w-full sticky justify-center">
  <nav class="relative flex justify-between ">
    <a href="/" class="w-14 mt-2 mx-2">
      <Logo />
    </a>
    <div class="w-14 mt-2 mx-2">
      
    </div>
  </nav>
</div>